.log-in-container {
  display: flex;
  border-bottom: 5px solid #fcc822;
  border-top: 5px solid #fcc822;
  padding: 2.4rem;
  justify-content: space-between;
  color: #000;
  background-color: #f7f7f794;
  max-width: 130rem;
  height: auto;
  margin: 5rem auto;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}
.log-in-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
  padding: 1rem;
}
/* //////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\ */
.log-in-text-box {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  color: #495057;
}
h1 {
  font-size: 4rem;
  letter-spacing: 1px;
}
p {
  font-size: 1.4rem;
}
/* /////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\ */
.input-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  align-items: center;
}

.input-sign-in {
  border: none;
  font-size: 1.2rem;
  width: 35rem;
  padding: 1.2rem;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.123);
}
.input-sign-in::placeholder {
  color: rgb(163, 163, 163);
}
/* ///////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin: 2rem 0;
}

span {
  font-weight: 600;
}
/* ////////////////////////\\\\\\\\\\\\\\\\\ */
.to-register-box {
  text-align: center;
  font-size: 1.4rem;
}

.register-span {
  color: rgb(97, 97, 97);
}
.link-to-register:link,
.link-to-register:visited {
  text-decoration: none;
  padding-left: 0.4rem;
  color: #616161;
  transition: all 0.3s ease-in-out;
}
.link-to-register:hover,
.link-to-register:active {
  color: #fcc822;
}
/* //////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.img-box {
  border-left: 5px solid #fcc822;
  display: flex;

  align-items: center;
  padding: 0 9rem;
}
.log-in-img {
  width: 45rem;
  height: 45rem;
}

@media (max-width: 84em) {
  .log-in-container {
    max-width: 110rem;
  }
  .img-box {
    padding: 0 6rem;
  }
}

@media (max-width: 70em) {
  .log-in-container {
    max-width: 100rem;
  }
  .img-box {
    padding: 0 5rem;
  }
  .log-in-img {
    width: 40rem;
    height: 40rem;
  }
}

@media (max-width: 63em) {
  .log-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    max-width: 70rem;
  }
  .img-box {
    border-left: none;
    border-top: 5px solid #fcc822;
    order: 2;
    padding: 2rem 9rem;
  }
}

@media (max-width: 42em) {
  .log-in-container {
    max-width: 65rem;
  }
  .img-box {
    padding: 2rem 8rem;
  }
}

@media (max-width: 35em) {
  h1 {
    font-size: 3.4rem;
  }
  p {
    font-size: 1.2rem;
  }
  .log-in-container {
    max-width: 40rem;
  }
  .img-box {
    padding: 2rem 2rem;
  }
  .log-in-img {
    width: 30rem;
    height: 30rem;
  }

  .input-sign-in {
    width: 25rem;
  }
  .btn-box {
    display: flex;
    flex-direction: column;
  }
}
