.btn {
  border: 1px solid #fcc822;
  background-color: #fff;
  color: #fcc822;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 0 1.8rem;
  max-width: auto;
  height: 4rem;
  box-shadow: 0 0.4rem 0.6rem #fcc92279;
  transition: all 0.4s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: #fcc822;
  color: #fff;
  transform: translateY(3px);
}

.btn-secondary {
  background-color: #fcc822;
  color: #fff;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fff;
  color: #fcc822;
  transform: translateY(2px);
}

.back-arrow {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media (max-width: 84em) {
  .btn {
    font-size: 1.6rem;
    height: 3.6rem;
  }
}

@media (max-width: 76em) {
  .btn {
    font-size: 1.4rem;
    height: 3.4rem;
  }
}

@media (max-width: 63em) {
  .btn {
    font-size: 1.6rem;
    height: 3.6rem;
  }
}
@media (max-width: 56em) {
  .btn {
    font-size: 1.6rem;
    height: 3.4rem;
  }
}
@media (max-width: 46em) {
  .btn {
    font-size: 2rem;
    height: 4rem;
  }
}

@media (max-width: 42em) {
  .btn {
    font-size: 1.8rem;
    height: 4rem;
  }
}

@media (max-width: 31em) {
  .btn {
    font-size: 1.6rem;
    height: 3.4rem;
  }
}
