.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-box {
  margin-top: 2rem;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.123);
  border-radius: 1rem;
  padding: 3rem 2rem;
  background-color: #fef4d3;
  overflow-y: scroll;
  min-height: 4rem;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.leaderboard-title {
  letter-spacing: 2px;
  font-size: 2.6rem;
}
