.sign-up-container {
  display: flex;

  border-bottom: 5px solid #fcc822;
  border-top: 5px solid #fcc822;

  padding: 2.4rem;
  justify-content: space-between;

  color: #000;
  background-color: #f7f7f794;

  max-width: 130rem;
  height: auto;
  margin: 5rem auto;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.img-box-left {
  border-right: 5px solid #fcc822;
  display: flex;

  align-items: center;
  padding: 0 9rem;
}
.sign-up-img {
  width: 45rem;
  height: 45rem;
}

@media (max-width: 84em) {
  .sign-up-container {
    max-width: 110rem;
  }
  .img-box-left {
    padding: 0 6rem;
  }
}
@media (max-width: 70em) {
  .sign-up-container {
    max-width: 100rem;
  }
  .img-box-left {
    padding: 0 5rem;
  }
  .sign-up-img {
    width: 40rem;
    height: 40rem;
  }
}

@media (max-width: 63em) {
  .sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    max-width: 80rem;
  }
  .img-box-left {
    border-right: none;
    border-top: 5px solid #fcc822;

    order: 2;

    padding: 2rem 9rem;
  }
}

@media (max-width: 42em) {
  .sign-up-container {
    max-width: 65rem;
  }
  .img-box-left {
    padding: 2rem 8rem;
  }
}

@media (max-width: 35em) {
  .sign-up-container {
    max-width: 45rem;
  }
  .img-box-left {
    padding: 2rem 2rem;
  }
  .sign-up-img {
    width: 30rem;
    height: 30rem;
  }
}
