.sign-up-container {
  display: flex;

  border-bottom: 5px solid #fcc822;
  border-top: 5px solid #fcc822;

  padding: 2.4rem;
  justify-content: space-between;

  color: #000;
  background-color: #f7f7f794;

  max-width: 110rem;
  height: auto;
  margin: 5rem auto;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.img-box-left {
  border-right: 5px solid #fcc822;
  display: flex;

  align-items: center;
  padding: 0 4rem;
}
.sign-up-img {
  width: 45rem;
  height: 45rem;
}

@media (max-width: 84em) {
  .sign-up-container {
    display: flex;

    border-bottom: 5px solid #fcc822;
    border-top: 5px solid #fcc822;

    padding: 2.4rem;
    justify-content: space-between;

    color: #000;
    background-color: #f7f7f794;

    max-width: 100rem;
    height: auto;
    margin: 3rem auto;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
  }
  .sign-up-img {
    width: 40rem;
    height: 40rem;
  }
}
