.quiz-category-box {
  border: 2px solid #fcc822;
  border-radius: 2rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.123);
  width: 15rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: transform 0.5s ease-out;
}
.quiz-category-box:hover {
  transform: scale(1.1);
}
.locked {
  pointer-events: none;
}

.circle-1 {
  background-color: #ffffff;
  border: 6px dotted #fcc922dd;
  height: 12rem;
  width: 12rem;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.circle-2 {
  background-color: #fcc922dd;
  height: 10rem;
  width: 10rem;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-name {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 700;
}
.quiz-finalscore {
  text-align: center;
  font-size: 1.6rem;
  color: #adb5bd;
}

.circle-3 {
  background-color: #ffffff;
  border: 6px dotted #adb5bd;
  height: 12rem;
  width: 12rem;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.circle-4 {
  background-color: #adb5bd;
  height: 10rem;
  width: 10rem;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locker {
  height: 6rem;
  opacity: 0.6;
}

@media (max-width: 63em) {
  .quiz-category-box {
    width: 18rem;
    height: 23rem;
  }

  .circle-1 {
    height: 14rem;
    width: 14rem;

    margin-bottom: 2rem;
  }
  .circle-2 {
    height: 12rem;
    width: 12rem;
  }
  .quiz-name {
    font-size: 2.2rem;
  }
  .quiz-finalscore {
    font-size: 1.8rem;
  }

  .circle-3 {
    height: 14rem;
    width: 14rem;

    margin-bottom: 2rem;
  }
  .circle-4 {
    height: 12rem;
    width: 12rem;
  }

  .locker {
    height: 6.4rem;
  }
}

@media (max-width: 35em) {
  .quiz-category-box {
    width: 20rem;
    height: 25rem;
  }

  .circle-1 {
    height: 16rem;
    width: 16rem;

    margin-bottom: 2rem;
  }
  .circle-2 {
    height: 14rem;
    width: 14rem;
  }
  .quiz-name {
    font-size: 2.4rem;
  }
  .quiz-finalscore {
    font-size: 2rem;
  }

  .circle-3 {
    height: 16rem;
    width: 16rem;

    margin-bottom: 2rem;
  }
  .circle-4 {
    height: 13rem;
    width: 13rem;
  }

  .locker {
    height: 6.6rem;
  }
}
