.naviagion-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  max-width: 110rem;
  margin: 0 auto;
  border-bottom: 0.2rem solid rgba(51, 51, 51, 0.466);
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: inherit; /* wyrzucic jak wstawie obraz */
}
span {
  color: #fcc822;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-right: 2rem;
}

.link:link,
.link:visited {
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #adb5bd;
  transition: all 0.3s ease;
}

.link:hover,
.link:active {
  color: inherit;
  text-decoration: underline;
}
