.quiz-question {
  font-size: 2.4rem;
}

.quiz-answer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  padding: 2rem;
  width: 65rem;
}

.quiz-answer-box {
  border: 2px solid #fcc822;
  border-radius: 1rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in;
}

.quiz-answer-box:hover {
  background-color: #fcc822;
  color: #fff;
}
@media (hover: none) {
  .quiz-answer-box:hover {
    color: inherit;
  }
}

@media (max-width: 63em) {
  .quiz-question {
    font-size: 2.4rem;
  }
}

@media (max-width: 46em) {
  .quiz-question {
    font-size: 2rem;
  }

  .quiz-answer-container {
    font-size: 1.8rem;
    width: 60rem;
  }
}

@media (max-width: 35em) {
  .quiz-question {
    font-size: 1.7rem;
  }

  .quiz-answer-container {
    font-size: 1.6rem;
    width: 55rem;
  }

  .quiz-answer-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;

    padding: 2rem;
    width: 30rem;
  }
}
