.category-container {
  max-width: 130rem;
  height: auto;
  margin: 2rem auto;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  row-gap: 9rem;
}

.category-box-name {
  display: grid;
  grid-column: 1/ -1;

  grid-template-columns: 1fr 1.5fr;
}
.name {
  font-size: 2.8rem;
}
.categories-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
  justify-items: center;
}
@media (max-width: 70em) {
  .category-container {
    max-width: 102rem;
  }
}
@media (max-width: 63em) {
  .category-container {
    max-width: 95rem;
  }
}
@media (max-width: 56em) {
  .category-container {
    max-width: 80rem;
    row-gap: 1rem;
  }
  .categories-box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-items: center;
  }

  .category-box-name {
    grid-template-columns: 1fr 1.8fr;
  }
  .name {
    font-size: 2.6rem;
  }
}

@media (max-width: 42em) {
  .category-container {
    max-width: 70rem;
    gap: 3rem;
  }

  .category-box-name {
    grid-template-columns: 1fr 1.9fr;
  }

  .name {
    font-size: 2.8rem;
  }
}

@media (max-width: 35em) {
  .category-container {
    max-width: 50rem;
    gap: 3rem;
  }

  .category-box-name {
    grid-template-columns: 1fr 3fr;
  }
}
