.category-container {
  max-width: 100rem;
  margin: 2rem auto;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  gap: 9rem;
}

.category-box-name {
  display: grid;
  grid-column: 1/ -1;
  width: 100rem;
  grid-template-columns: 1fr 1.5fr;
}
.name {
  font-size: 2.4rem;
}
.categories-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
  justify-items: center;
}
