* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #495057; /* <--- GRAY 7 https://yeun.github.io/open-color/ */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #fcc822;
}

/* .toast-message {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
} */

@media (max-width: 63em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 46em) {
  html {
    font-size: 50%;
  }
}
