* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;

  color: #495057; /* <--- GRAY 7 https://yeun.github.io/open-color/ */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.toast-message {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
}
